      <!-- AJAX -->

<button id='new-ajax-haunt'>Add A Haunt</button>
<div id='new_form'>
 <%= render 'haunts/form' %>
</div>


<br>
<br>
 <button id='get-ajax-haunts'>See Ajax Haunts & Nested Comments</button>  
 <div id="display-ajax-haunts">
 	

 </div>


<br>
<br>
<br>
<!-- <button id='add-new-ajax-haunt-form'>Add A New Ajax Haunt</button>  
<div id="display-new-ajax-haunt"></div> -->



 <br>
 <br>
<br>






<!-- <div class="ajax-haunts">
  <%#= render 'new_haunt_form' %>
 show results here</div>
<br> -->


<!-- <h3>Welcome, <%= current_user.email %></h3> -->

<!-- <ul>Would you like to...
	<p></p>
	<li><%#= link_to "Add A Haunt", new_haunt_path %> </li>
	<li><%#= link_to "See All The Haunts", haunts_path %> </li>
</ul> -->

<!-- <p> Here is a list of all the haunts you've commented on so far:</p> -->

<!-- <table>
	<thead>
		<tr>
	  		<th></th>
		</tr>
	</thead>

	<body>
      	<tr>	
			<%# current_user.haunts.uniq.each do |haunt| %>
			<td><b><%#= haunt.name %></b></td>
    	</tr>
		<%# end %>
   </tbody>
</table>
<br> -->
